/* artisan-page */

.artisan-page{
    position: relative;
    width: 100%;
    height: auto;
    min-height: 500px;
}

.artisan-page .AA-page-header{
    /* background: #000 !important; */
    padding: 20px 0px !important;
    z-index: 1 !important;
    padding-bottom: 120px !important;
}

.artisan-page .AA-Hero-Sec{
    gap: 80px !important;
    grid-gap: 80px !important;
 }
 


.artisan-page .AA-page-header::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 200px;
    bottom: 0;
    left: 0;
    background: url(../Img/wave.svg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: -4;
}

/* GGfag-sec */

.GGfag-sec{
    position: relative;
    width: 100%;
    height: auto;
    margin-top: 40px;
}

.GGfag-Top{
    position: relative;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.GGfag-Top p{
    margin-top: 20px;
    color: #505050;
}
.GGfag-Top img{
    max-width: 800px;
    margin: 40px 0px;
}

@media screen and (max-width:1000px){
    .GGfag-Top img{
        max-width: 100% !important;
    }
}

/* GGfag-Grid */

.GGfag-Grid{
    position: relative;
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 70px;
    gap: 70px;
    margin-top: 30px;
}

.GGfag-Card{
    position: relative;
    width: 100%;
}

@media screen and (max-width:1000px){
    .GGfag-Grid{
        display: flex !important;
        flex-direction: column !important;
        gap: 30px !important;
        grid-gap: 30px !important;
    }

    .GGfag-Grid ul{
        margin-left: 0px !important;
        padding-left: 30px !important;
    }
}
.GGfag-Grid h3{
    font-size: 20px;
    font-weight: 600;
    padding-left: 20px;
    border-left: 4px solid #9ACD32;
}

.GGfag-Grid ul{
    position: relative;
    width: 100%;
    margin-left: 30px;
    margin-top: 20px;
}
.GGfag-Grid ul li{
    list-style: disc !important;
    margin-top: 10px !important;
    color: #505050;
    font-size: 14px;
}


/* Jhsia-sec */

.Jhsia-sec{
    position: relative;
    text-align: center;
    padding: 50px 0px;
    margin-top: 30px;
}

.Jhsia-sec a{
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 13px 20px;
    width: 250px;
    font-size: 17px;
    margin-top: 30px;
    background-color: #B1BD3B;
    color: #fff;
    border-radius: 8px;
    transition: all 0.3s ease-in-out;
}

.hhhaa-btn{
    margin-top: 0px !important;
    padding-top: 30px !important;
}

@media screen and (max-width:450px){
    .Jhsia-sec a{
        width: 80% !important;
    }
}

.Jhsia-sec a:hover{
    background-color: #929d32;
}


.Gakajs-sec{
    position: relative;
    width: 100%;
    height: auto;
}

.Gakajs-Header{
    position: relative;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}
.Gakajs-Header p{
    margin-top: 15px;
    color: #505050;
}


.hash-Op .hgahgs-Card-Dlt a{
    margin-top: 40px !important;
    background-color: transparent !important;
    border:1px solid #B1BD3B !important;
    color: #B1BD3B !important;
}

.hash-Op .hgahgs-Card-Dlt a:hover{
    background-color: #B1BD3B !important;
    color: #fff !important;
}

/* allsk-sec */

.allsk-sec{
    position: relative;
    width: 100%;
    height: auto;
    padding: 50px 100px;
}
@media screen and (max-width:1000px){
    .allsk-sec{
        padding: 50px 0px !important;
    }
}

.allsk-sec h1{
    position: relative;
    margin-bottom: 20px;
}

.allsk-sec ul li,
.allsk-sec p{
    position: relative;
    margin-top: 10px;
    color: #505050;
}
.allsk-sec ul{
    margin-left: 20px;
    margin-top: 20px;
}
.allsk-sec ul li{
    list-style: disc !important;
}
strong{
    color: #000 !important;
}

.allsk-sec h2{
    font-size: 20px;
    font-weight: 600;
    margin: 20px 0px;
}

.allsk-sec h3{
    font-size: 17px;
    font-weight: 600;
    margin: 20px 0px;
}


.Start_Vid{
    position: relative;
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 80px;
}

.Start_Vid img{
    max-width: 70%;
}
@media screen and (max-width:1000px){
    .Start_Vid img{
        max-width: 100% !important;
    }
}






/* auuys8-sec */

.auuys8-sec{
    position: relative;
    width: 100%;
    height: auto;
    margin-top: 70px;
}

.auuys8-sec h3{
    text-align: center;
}

.auuys8-sec ul{
    position: relative;
    width: 100%;
    height: auto;
    margin-top: 60px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 30px;
    gap:30px;
}
@media screen and (max-width:1000px){
    .auuys8-sec ul{
        display: flex !important;
        flex-direction: column !important;
        gap: 30px !important;
        grid-gap: 30px !important;
    }
}
.auuys8-sec ul li{
    position: relative;
    display: grid;
    grid-template-columns: auto 1fr;
    grid-gap: 15px;
    gap:15px;
    color: #505050;
}

.auuys8-sec ul li svg{
    font-size: 30px;
    color: #B1BD3B;
}
@media screen and (max-width:500px){
    .auuys8-sec ul li{
        gap: 10px !important;
        grid-gap: 10px !important;
    }
    .auuys8-sec ul li svg{
        font-size: 20px !important;
    }
}

.GInggal-Sec{
    position: relative;
    width: 100%;
    height: auto;
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.GInggal-Sec img{
    max-width: 100%;
}


/* Gkaujs-Sec */

.Gkaujs-Sec{
    position: relative;
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 30px;
    gap: 30px;
    margin-top: 50px;
}
@media screen and (max-width:1000px){
    .Gkaujs-Sec{
        display: flex !important;
        flex-direction: column !important;
        gap: 30px !important;
        grid-gap: 30px !important;
    }
}
.Gkaujs-Card{
    position: relative;
    width: 100%;
    height: auto;
    padding: 30px;
    text-align: center;
    background-color: #fff;
    border-radius: 10px;
    -webkit-box-shadow: 0 0 20px rgb(0 0 0 / 5%);
    -moz-box-shadow: 0 0 20px rgb(0 0 0 / 5%);
    box-shadow: 0 0 20px rgb(0 0 0 / 5%);
}

@media screen and (max-width:1000px){
    .Gkaujs-Card{
        padding:30px 20px !important;
    }
    .Gkaujs-Card img{
        max-width: 50px !important;
    }
}
.Gkaujs-Card img{
    max-width: 60px;
    margin-bottom: 20px;
}

.Gkaujs-Card h3{
    font-size: 20px;
    font-weight: 600;
}

.Gkaujs-Card p{
    font-size: 14px;
    color: #505050;
    margin-top: 20px;
}